
.catlistbox {
    width: 1112px;
    margin: 30px auto;
    border-radius: 3px;
    border: 1px solid #e6e8eb;
    display: flex;
}

.cat_menulist {
    background: #ebf6ff;
}

.catlistbox .box, .cat_menu {
    border-left: 1px solid #c4d1de;
    width: 158px;
    padding-top: 15px;
    min-height: 600px;
}

.catlistbox .box {
    padding: 15px 15px 0 15px;
}

.catlistbox .box:last-child {
    border: none;
}

.category_list a button {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1f8ce6;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    border-radius: 3px;
    margin-top: 4px;
    padding: 10px;
    border: none;
    width: 100%;
}

.category_list a button:hover,
.category_list a button:active {
    background: #0f5e9c;
}

.cat_menu a {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 15px 10px 20px;
}

.menu_hover {
    background: #1f8ce6;
    color: #fff;
}

.cat_list ul li a {
    display: block;
    color: #666;
    font-size: 12px;
    padding: 7px 10px;
    margin-top: 2px;
}

.cat_list ul li a:hover, .cat_list ul li a:active {
    color: #1f8ce6;
    font-weight: bold;
}

#selfimprovement {
    border-bottom: 1px solid #e1e8ee;
}

.category_list .line {
    border-top: 1px solid #c5d2da;
    border-right: none;
    width: 84%;
    margin: 4px auto;
    height: auto;
    top: 0px;
}

.cat_menu i {
    color: #1f8ce6;
}

.catlistbox i {
    font-size: 1px;
}