/* download */
.viewer {
    width: 100%;
    margin: 20px 0 40px 0;
}

.viewer_img {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
}

.viewer_img img {
    width: 1000px;
    max-width: 100%;
}

/* partnercard */

/* center */


/* notice */