/* download */
.viewer {
    width: 100%;
    margin: 20px 0 40px 0;
}

.viewer_img {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
}

.viewer_img img {
    width: 1000px;
    max-width: 100%;
}

/* partnercard */
.card_body {
    min-width: 1000px;
}

.main_nav {
    position: relative;
}

.search {
    position: relative;
}

.fig-h1a41g {
    top: 0;
    margin: 16px 4px 0px 6px;
}


.partnercard {
    cursor: default;
    position: relative;
    width: 100%;
}

.partnercardbox {
    padding: 70px 0 130px 0;
    margin: 0 auto;
    max-width: 900px;
}

.partnercard_text {
    text-align: center;
}

.partnercard .card_h2 {
    color: #212529;
    font-size: 24px;
    display: inline-block;
    line-height: 40px;
}

.partnercard .card_h2::after {
    content: "";
    border-top: 3px solid #212529;
    width: 100%;
    display: block;
}

.partnercard .card_p {
    color: #212529;
    font-size: 22px;
    padding-top: 20px;
}

.partnercard .cardbox {
    padding-top: 40px;
}

.partnercard .cardbox .shinhancard {
    margin-top: 20px;
    display: flex;
    width: 100%;
    height: 260px;
    border: 1px solid #d1d5d9;
    border-radius: 3px;
}

.shinhancard_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px;
    background-color: #e9f1f9;
}

._check .shinhancard_img {
    background-color: #f2ebe8;
}

.shinhancard_img img {
    width: 240px;
    height: 152px;
    filter: drop-shadow(3px 1px 6px #94a2b8);
}

.shinhancard_text {
    padding: 50px 60px;
}

.shinhancard_text h2 {
    color: #40474d;
    font-size: 22px;
    font-weight: bold;

}

.shinhancard_text ul {
    padding-top: 9px;
}

.shinhancard_text ul li {
    color: #636c73;
    font-size: 15px;
    padding: 3px 0;
}

.shinhancard_text ul li::before {
    display: inline-block;
    background-color: #9ea7ad;
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 6px;
    margin-right: 9px;
    position: relative;
    top: -3px;
}

.shinhancard a button {
    color: #808991;
    font-size: 13px;
    font-weight: bold;
    background-color: #fff;
    border: 1px solid #d1d5d9;
    border-radius: 4px;
    padding: 12px 26px;
    margin-top: 16px;
    box-shadow: 2px 2px 5px -4px rgb(0 0 0 / 30%);
}

.shinhancard a button:hover, .shinhancard a button:active {
    background-color: #F5F6F7;
}

.shinhancard a button img {
    width: 6px;
    height: 9.8px;
}

@media only screen and (min-width: 1000px) {
    .fig-h1a41g {
        margin: 0px 4px 0px 6px;
    }
}

/* center */
.center {
    background: url("../images/center_bg.png") no-repeat;
    background-position: center calc(30%);
    background-color: #1f8ce6;
    height: 252px;
    text-align: center;
}

.center .main_logo {
    max-width: 1120px;
    margin: 0 auto;
    line-height: 60px;
    display: block;
}

.center .main_logo ul {
    display: block;
    text-align: left;
}

.center .main_logo ul li {
    display: inline-block;
}

.center h2 {
    display: inline-block;
    color: #fff;
    font-size: 28px;
    font-weight: lighter;
    line-height: 38px;
    text-shadow: 0 1px 2px rgb(0 0 0 / 30%);
    padding: 24px 0 34px 0;
}

.center_search {
    max-width: 610px;
    margin: 0 auto;
}

.center_search input {
    border-color: #fff;
    background: white;
    color: #303538;
    border-radius: 6px;
    border: 1px solid #d1d5d9;
    padding: 11px 20px 11px 40px;
    font-size: 14px;
    width: 100%;
    letter-spacing: -0.06em;
}

.center_search input:focus {
    border-color: #cce8ff !important;
}

.center_search .search_svg {
    width: 26px;
    height: 26px;
    color: #7d8e9e;
    position: absolute;
    margin: 6px 4px 0px 10px;
    top: 0;
}

.center_top, .faq, .question {
    margin-bottom: 40px;
}

.center_top {
    padding-top: 30px;
}

.center_top .notice_h2 {
    padding-bottom: 18px;
}

.notice_btn {
    display: flex;
    flex-wrap: wrap;
}

.faq_btn li a, .bookuse li a, .customer li a, .alliance li a {
    display: fiex;
}

@media only screen and (min-width: 1000px) {
    .main_logo {
        padding-top: 0px;
    }
}

@media only screen and (min-width: 768px) {
    .center_top, .faq, .question {
        margin-bottom: 60px;
    }
}

@media only screen and (max-width: 610px) {
    .center_search {
        padding: 0 20px;
    }
}

@media only screen and (max-width: 500px) {
    .center h2 {
        font-size: 20px;
        line-height: 29px;
    }
}

/* notice */
.notice {
    max-width: 1120px !important;
}

.notice h2 {
    padding-bottom: 15px;
}

.notice_listbox {
    display: flex;
    flex-direction: column;
}

.notice_listbox div {
    margin-bottom: 40px;
}

.notice_listbox ul {
    margin-bottom: 20px;
}

.notice_h2 {
    color: #303538;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 15px;
    display: inline-block;
}

.notice_h2:hover, .notice_h2:active {
    color: #1f8ce6;
}

.notice_bluetext {
    color: #1f8ce6;
    font-size: 15px;
}

.notice_bluetext i {
    font-size: 1px;
    position: relative;
    top: -1px;
    padding-left: 3px;
}

@media only screen and (min-width: 768px) {
    .notice h2 {
        padding-bottom: 0px;
    }

    .notice_listbox {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .notice_listbox div {
        flex: 0 0 45%;
        margin-bottom: 60px;
    }
}

/* guide 및 다른 공지사항 */
.guide {
    max-width: 1120px;
    margin: 0 auto;
    padding: 25px 38px 0;
}

.ridibooks_notice, .select_notice, .paper_notice {
    padding: 25px;
}

.guide h2, .guide p {
    color: #303538;
}

.guide_header {
    line-height: 60px;
}

.guide_header .main_logo {
    max-width: 1120px;
    margin: 0 auto;
    display: block;
}

.guide_header .main_logo ul li:first-child {
    padding-right: 10px;
}

.guide_header .main_logo ul li:last-child {
    padding-left: 0;
}

.guide_header .main_logo ul {
    display: block;
}

.guide_header .main_logo ul li {
    display: inline-block;
}

.guide_header .main_logo span {
    width: 89px;
    height: 17px;
}

.guide_header .main_logo svg {
    width: 100%;
}

.guide_top {
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
}

.breadcrumb {
    list-style: none;
    margin-bottom: 15px;
}

.breadcrumb li {
    display: inline-block;
}

.breadcrumb li a:hover, .breadcrumb li a:active {
    color: #1f8ce6;
}

.breadcrumb li::after {
    content: ">";
    color:#9ea7ad;
    padding: 0 2px 0 6px;
    font-size: 8px;
    position: relative;
    top: -1px;
}

.breadcrumb li:last-child::after {
    display: none;
}

.breadcrumb li a {
    color:#9ea7ad;
    font-size: 13px;
}

.guide_search{
    position: relative;
}

.guide_search input {
    background: white;
    color: #303538;
    border-radius: 6px;
    border: 1px solid #d1d5d9;
    padding: 11px 20px 11px 40px;
    font-size: 14px;
    width: 100%;
    letter-spacing: -0.06em;
}

.guide_search input::placeholder {
    color: #808991;
}

.guide_search input:focus {
    outline: none;
    border-color: #1f8ce6;
}

.search_svg { /* 돋보기 */
    width: 26px;
    height: 26px;
    color: #7d8e9e;
    position: absolute;
    margin: 6px 4px 0px 10px;
    top: 0;
}

.guide_bottom {
    max-width: 833px;
    margin: 0 auto;
}

.guide_bottom h2 {
    font-size: 32px;
    margin-bottom: 30px;
    font-weight: normal;
}

.guide_listbox ul li {
    border-bottom: 1px solid #e6e8eb;
    padding: 17.2px 0;
}

.guide_listbox ul li:first-child {
    border-top: 1px solid #e6e8eb;
}

.guide_listbox ul li a {
    color: #303538;
    font-size: 16px;
}

.blue_star {
    fill: #1f8ce6;
    position: relative;
    top: 3px;
}

.guide_listbox ul li a:hover, .guide_listbox ul li a:active {
    color: #1f8ce6;
}

.guide_paginationbox {
    margin: 20px 0 30px 0;
    text-align: center;
}

.guide_paginationbox ol {
    list-style: none;
    display: flex;
    justify-content: center;
}

.guide_paginationbox ol li {
    height: 30px;
    width: 30px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1px;
    margin-left: 5px;
}

.guide_paginationbox ol li:hover, .guide_paginationbox ol li:active {
    background-color: #f3f3f3;
}

.guide_paginationbox ol li a {
    color: #303538;
    font-size: 13px;
}

.guide_paginationbox ol li a i {
    font-size: 2px;
    color: #5f696f;
}

.paging_blue {
    background-color: #1f8ce6 !important;
}

.paging_blue a {
    color: #f7fafc !important;
    font-weight: bold;
}

.paging_start, .paging_prev {
    display: none !important;
}

.chatbot {
    position: fixed;
    right: 24px;
    bottom: 75px;
}

.chatbot img {
    width: 63px;
    height: 63px;
    filter: drop-shadow(4px 4px 11px rgb(0 0 0 /10%));
    animation: chatbot_img ease-in-out 0.2s forwards;
}

@keyframes chatbot_img {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@media only screen and (min-width: 1120px) {
    .guide {
        padding: 25px 0 0 0;
    }
    .ridibooks_notice {
        padding: 25px 0;
    }
    .select_notice {
        padding: 25px 0 157px 0;
    }
    .paper_notice {
        padding: 25px 0 46px 0;
    }
}

@media only screen and (min-width: 768px) {
    .guide_top {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 85px;
    }

    .breadcrumb {
        list-style: none;
        margin-bottom: 0;
    }
    
    .guide_search input {
        min-width: 300px;
    }
    
    .search_svg { /* 돋보기 */
        margin: 6px 4px 0px 9px;
    }

    .guide_bottom h2 {
        margin-bottom: 45px;
    }
}

@media only screen and (max-width: 500px) {
    section {
        padding: 25px 25px !important;
    }
}