/* download */
.viewer {
    width: 100%;
    margin: 20px 0 40px 0;
}

.viewer_img {
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
}

.viewer_img img {
    width: 1000px;
    max-width: 100%;
}

/* partnercard */
.card_body {
    min-width: 1000px;
}

.main_nav {
    position: relative;
}

.search {
    position: relative;
}

.fig-h1a41g {
    top: 0;
    margin: 16px 4px 0px 6px;
}


.partnercard {
    cursor: default;
    position: relative;
    width: 100%;
}

.partnercardbox {
    padding: 70px 0 130px 0;
    margin: 0 auto;
    max-width: 900px;
}

.partnercard_text {
    text-align: center;
}

.partnercard .card_h2 {
    color: #212529;
    font-size: 24px;
    display: inline-block;
    line-height: 40px;
}

.partnercard .card_h2::after {
    content: "";
    border-top: 3px solid #212529;
    width: 100%;
    display: block;
}

.partnercard .card_p {
    color: #212529;
    font-size: 22px;
    padding-top: 20px;
}

.partnercard .cardbox {
    padding-top: 40px;
}

.partnercard .cardbox .shinhancard {
    margin-top: 20px;
    display: flex;
    width: 100%;
    height: 260px;
    border: 1px solid #d1d5d9;
    border-radius: 3px;
}

.shinhancard_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px;
    background-color: #e9f1f9;
}

._check .shinhancard_img {
    background-color: #f2ebe8;
}

.shinhancard_img img {
    width: 240px;
    height: 152px;
    filter: drop-shadow(3px 1px 6px #94a2b8);
}

.shinhancard_text {
    padding: 50px 60px;
}

.shinhancard_text h2 {
    color: #40474d;
    font-size: 22px;
    font-weight: bold;

}

.shinhancard_text ul {
    padding-top: 9px;
}

.shinhancard_text ul li {
    color: #636c73;
    font-size: 15px;
    padding: 3px 0;
}

.shinhancard_text ul li::before {
    display: inline-block;
    background-color: #9ea7ad;
    content: "";
    width: 4px;
    height: 4px;
    border-radius: 6px;
    margin-right: 9px;
    position: relative;
    top: -3px;
}

.shinhancard a button {
    color: #808991;
    font-size: 13px;
    font-weight: bold;
    background-color: #fff;
    border: 1px solid #d1d5d9;
    border-radius: 4px;
    padding: 12px 26px;
    margin-top: 16px;
    box-shadow: 2px 2px 5px -4px rgb(0 0 0 / 30%);
}

.shinhancard a button:hover, .shinhancard a button:active {
    background-color: #F5F6F7;
}

.shinhancard a button img {
    width: 6px;
    height: 9.8px;
}

@media only screen and (min-width: 1000px) {
    .fig-h1a41g {
        margin: 0px 4px 0px 6px;
    }
}


/* center */


/* guide */
.guide {
    max-width: 1120px;
    margin: 0 auto;
    padding: 25px 5% 0;
}

.guide h2, .guide p {
    color: #303538;
}

.guide_header {
    line-height: 60px;
}

.guide_header .main_logo {
    max-width: 1120px;
    margin: 0 auto;
    display: block;
}

.guide_header .main_logo ul li:first-child {
    padding-right: 10px;
}

.guide_header .main_logo ul li:last-child {
    padding-left: 0;
}

.guide_header .main_logo ul {
    display: block;
}

.guide_header .main_logo ul li {
    display: inline-block;
}

.guide_header .main_logo span {
    width: 89px;
    height: 17px;
}

.guide_header .main_logo svg {
    width: 100%;
}

.guide_top {
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
}

.breadcrumb {
    list-style: none;
    margin-bottom: 15px;
}

.breadcrumb li {
    color:#9ea7ad;
    font-size: 13px;
    display: inline-block;
}

.breadcrumb li a:hover, .breadcrumb li a:active {
    color: #1f8ce6;
}

.breadcrumb li::after {
    content: ">";
    color:#9ea7ad;
    padding: 0 2px 0 6px;
    font-size: 8px;
    position: relative;
    top: -1px;
}

.breadcrumb li:last-child::after {
    display: none;
}

.guide_search{
    position: relative;
}

.guide_search input {
    background: white;
    color: #303538;
    border-radius: 6px;
    border: 1px solid #d1d5d9;
    padding: 11px 20px 11px 40px;
    font-size: 14px;
    width: 100%;
    letter-spacing: -0.06em;
}

.guide_search input::placeholder {
    color: #808991;
}

.guide_search input:focus {
    outline: none;
    border-color: #1f8ce6;
}

.search_svg { /* 돋보기 */
    width: 26px;
    height: 26px;
    color: #808991;
    position: absolute;
    margin: 6px 4px 0px 10px;
    top: 0;
}

.guide_bottom {
    max-width: 833px;
    margin: 0 auto;
}

.guide_bottom h2 {
    font-size: 32px;
    margin-bottom: 30px;
    font-weight: normal;
}

.guide_listbox ul li {
    border-bottom: 1px solid #e6e8eb;
    padding: 15px 0;
}

.guide_listbox ul li a {
    color: #303538;
    font-size: 16px;
}

.guide_listbox ul li a:hover, .guide_listbox ul li a:active {
    color: #1f8ce6;
}

.guide_paginationbox {
    margin: 20px 0 30px 0;
    text-align: center;
}

.guide_paginationbox ol {
    list-style: none;
    display: flex;
    justify-content: center;
}

.guide_paginationbox ol li {
    height: 30px;
    width: 30px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1px;
    margin-left: 5px;
}

.guide_paginationbox ol li:hover, .guide_paginationbox ol li:active {
    background-color: #f3f3f3;
}

.guide_paginationbox ol li a {
    color: #303538;
    font-size: 13px;
}

.guide_paginationbox ol li a i {
    font-size: 2px;
    color: #5f696f;
}

.paging_blue {
    background-color: #1f8ce6 !important;
}

.paging_blue a {
    color: #f7fafc !important;
    font-weight: bold;
}

.paging_start, .paging_prev {
    display: none !important;
}

@media only screen and (min-width: 768px) {
    .guide_top {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 70px;
    }

    .breadcrumb {
        list-style: none;
        margin-bottom: 0;
    }
    
    .guide_search input {
        min-width: 300px;
    }
    
    .search_svg { /* 돋보기 */
        margin: 6px 4px 0px 6px;
    }

    .guide_bottom h2 {
        margin-bottom: 40px;
    }
}

