body {
    letter-spacing: -0.03em;
}

.myridi {
    max-width: 952px;
    margin: 0 auto;
    margin-bottom: 100px;
    display: flex;
    padding-top: 30px;
}

.myridi_menu {
    width: 130px;
    margin-right: 102px;
    padding-bottom: 320px;
}

.menubox i {
    font-size: 15px;
    color: #738096;
    padding-right: 1px;
}

.menu_text {
    padding: 17px 0 19px 0;
    border-bottom: 2px solid #f2f2f2;
}

.menu_title {
    display: inline-block;
    font-size: 15px;
    color: #40474d;
    font-weight: bold;
}

.menu_text ul {
    padding-left: 22px;
}

.menu_text ul li {
    padding-top: 14px;
    color: #808991;
    font-size: 15px;
    font-weight: bold;
}

.menu_text ul li a:hover, .menu_text ul li a:active {
    color: #636c73;
}

.menu_blue p, .menu_blue i {
    color: #1f8ce6;
}

.right {
    width: 74%;
}

.right h2 {
    font-size: 21px;
    color: #333;
}

/* changeinfo_before */
.info_before p {
    color: #333;
    font-size: 13px;
    font-weight: bold;
    padding: 25px 0 15px 0;
}

.changeinfo_before form {
    display: inline-block;
}

.changeinfo_before input {
    color: #303538;
    font-size: 13px;
    font-weight: bold;
    background: #fff;
    border: 1px solid #d1d5d9;
    border-radius: 3px;
    width: 220px;
    padding: 6.5px 10px;
    outline: none;
    letter-spacing: 0.4em;
}

.changeinfo_before input:hover, .changeinfo_before input:active {
    outline: none;
    border-color: #808991 !important;
}

.pw_btn {
    background: #1f8ce6;
    border: 1px solid #0077D9;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgb(209 213 217 / 30%);
    padding: 7px 18px;
    cursor: pointer;
}

.pw_btn:hover, .pw_btn:active {
    background: #0077D9;
}

/* changeinfo */
table {
    border-collapse: collapse;
    border-spacing: 0;
    border-bottom: 1px solid #e6e8eb;
    width: 100%;
    margin-top: 20px;
}

tr {
    border-collapse: collapse;
    border-spacing: 0;
    border-top: 1px solid #e6e8eb;
    width: 100%;
}

th {
    background: #f2f4f5;
    font-weight: bold;
    color: #808991;
    width: 130px;
    padding: 10px 14px;
    line-height: 28px;
    font-size: 13px;
    text-align: right;
}

td {
    padding: 10px 14px;
}

.blacktext {
    font-size: 13px;
    font-weight: bold;
    color: #333;
}

.changeinfo .graytext {
    font-size: 13px;
    font-weight: bold;
    color: #636c73;
}

.pay_gray {
    color: #666;
    font-size: 13px;
    padding: 8px 0 0 10px;
    display: block;
}

.pay_gray::before {
    display: inline-block;
    width: 4px;
    height: 4px;
    background: #9ea7ad;
    content: "";
    position: relative;
    top: -2px;
    left: -7px;
}

.name td {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name a {
    color: #808991;
    font-size: 13px;
    font-weight: bold;
    background: #fff;
    border: 1px solid #d1d5d9;
    border-radius: 4px;;
    box-shadow: 0 1px 1px 0 rgb(209 213 217 / 30%);
    padding: 8px 18px;
}

.name a:hover, .name a:active {
    background: #f2f4f5;
}

.certification {
    margin-top: 10px;
    font-size: 12px;
    color: #41474b;
    background: #effae6;
    border-radius: 3px;
    padding: 6px 10px 7px 7px;
    width: 230px
}

.email td {
    display: flex;
    flex-direction: column;
}

.email i {
    color: #5FCE0C;
    font-size: 13px;
    position: relative;
    top: 1px;
}

.refuse {
    color: #b8bfc4;
    font-size: 13px;
    margin-left: 7px;
}

.changeinfo a button {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    background: #7d8e9e;
    border: 1px solid #636c73;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgb(125 142 158 / 30%);
    padding: 8px;
    margin-top: 10px;
}

.pw button, .marketing button {
    padding: 8px 18px !important;
}

.changeinfo a button:hover, .changeinfo a button:active {
    background: #636c73;
}

.changeinfo form {
    display: flex;
    flex-direction: column;
}

.changeinfo input {
    border: 1px solid #d1d5d9;
    border-radius: 4px;
    background: #fff;
    padding: 8px;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.2em;
    color: #303538;
    outline: none;
    width: 220px;
}

.pw .graytext {
    padding-top: 18px;
}

.changeinfo input::placeholder {
    color: #9ea7ad;
    font-size: 12px;
    font-weight: bold;
}

.changeinfo input:hover, .changeinfo input:active {
    outline: none;
    border-color: #808991;
}

.changeinfo input[name="newpassword"], .changeinfo input[name="newpasswordre"] {
    margin-top: 10px;
}

.marketing .graytext {
    padding-left: 26px;
}

.firstcheck {
    margin-top: 0px !important;
}

.marketing .checkText {
    margin-top: 10px;
    cursor: default;
}

.changeinfo input[type="email"] {
    margin-left: 7px;
}

.changeinfo input[type="email"]::placeholder {
    color: #636c73;
    font-size: 12.5px;
    font-weight: bold;
    letter-spacing: -0.05em;
}

.mark_gray {
    color: #666;
    font-size: 13px;
    margin-top: 10px;
}

.marketing .checkText {
    position: relative;
    cursor: pointer;
}

.marketing .check {
    color: #303538;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 20px;
}

.marketing .check span {
    display: block;
    margin-right: 10px;
    padding: 0px 0px 0px 26px;
    letter-spacing: -0.39px;
}

.marketing input[type="checkbox"] {
    width: 1px;
    height: 1px;
    left: 1px;
    position: absolute;

    display: none;
}

.marketing .before  {
    width: 18px;
    height: 18px;
    border: 1px solid #D1D5D9;
    background: #fff;
    border-radius: 2px;
    position: absolute;
    left: 0;
    top: 2px;
}

.marketing .fig-17fh37n {
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 11;
    left: 4px;
    top: 6px;
}

.firstcheck .before {
    top: 8px;
}

.firstcheck .fig-17fh37n {
    top: 12px;
}

/* myridi */
.loginbox {
    max-width: 717px;
    border: 2px solid #636c73;
    width: 100%;
    display: flex;
}

.logout {
    max-width: 150px;
    padding: 24px 20px 20px 20px;
    background: #ebf6ff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logout h2 {
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

.logout p {
    font-size: 12px;
    font-weight: 500;
    color: #808991;
    padding-bottom: 47px;
}

.logout button {
    width: 64px;
    padding: 7px 0;
    border: 2px solid #d6deeb;
    border-radius: 3px;
    font-size: 13px;
    font-weight: bold;
    color: #636c73;
    text-align: center;
    background: #ebf6ff;
}

.logout button:hover, .logout button:active {
    background: #dfeef8;
    border-color: #b3c2d1;
}

.pointbox {
    display: flex;
    text-align: center;
    width: 100%;
}

.pointbox a {
    flex: 0 0 172px;
    padding: 28px 0;
}

.pointbox a svg {
    height: 20px;
}

.boxtitle {
    color: #000;
    font-size: 15px;
    font-weight: bold;
    margin-top: 7px
}

.boxbluetext {
    color: #1f8ce6;
    font-size: 16px;
    margin-top: 18px;
}

.boxbluetext span {
    font-size: 28px;
    padding-right: 2px
}

.boxtext {
    color: #636c73;
    font-size: 13px;
    line-height: 1.3em;
    margin-top: 23px;
}

.boxtext span {
    color: #212529;
    font-weight: bold;
}

.boxtext:hover, .boxtext:active {
    color: #0077d9;
}

.pointtext:hover, .pointtext:active {
    color: #636c73 !important;
}

.boxtext i {
    color: #0077d9;
    font-size: 1px;
    margin-left: 1px;
}

.inquirybox {
    margin-top: 40px;
}

.in_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.in_title h2 {
    color: #000;
    font-size: 18px;
    font-weight: bold;
    background: #fff;
    padding: 5px 14px 6px 0;
    position: relative;
    z-index: 2;
}

.titleline {
    display: block;
    width: 85%;
    height: 2px;
    background: #e5e5e5;
    position: absolute;
    top: 14px;
    left: 0;
}

.in_title button {
    font-size: 13px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    width: 86px;
    padding: 6px 0px;
    border: 1px solid #303538;
    background: #303538;
    border-radius: 2px;
    position: relative;
    z-index: 2;
}

.in_title button:hover, .in_title button:active {
    background: #666;
}

.in_title button i {
    font-size: 1px;
}

.in_book {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
}

.in_book img {
    height: 167px;
    width: auto;
    box-shadow: -1px 8px 8px -4px rgb(0 0 0 / 19%);
}

.in_book .bookname {
    color: #333;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.2em;
    margin-top: 10px;
}

.in_book .graytext {
    color: #666;
    font-size: 12px;
    margin-top: 3px;
}

/* withdraw */
.with_text {
    padding: 0 15px;
}

.blue {
    color: #1f8ce6;
    font-size: 16px;
    font-weight: bold;
    margin-top: 26px;
}

.gray {
    color: #666;
    font-size: 14px;
    font-weight: bold;
    margin-top: 30px;
}

.lightgray {
    color: #666;
    font-size: 13px;
}

.light_q {
    margin-top: 14px;
}

.light_a {
    margin-top: 4px;
}

.red {
    color: #e64938;
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
}

.text {
    margin-top: 40px;
}

.text p {
    line-height: 20px;
}

.first {
    margin-top: 0;
}

.fourth p {
    padding: 8px;
    background: #fff9f0;
    border: 1px solid #f5e8d4;
    border-radius: 3px;
    width: 100%;
    display: block;
}

.fourth_text {
    color: #a37a3d;
    font-size: 13px;
}

.fourth i {
    font-size: 13px;
    color: #a37a3d;
    margin-left: 8px;
    margin-right: 1px;
}

.btnbox {
    text-align: center;
}

.btnbox button {
    width: 120px;
    padding: 12px 26px;
    border-radius: 4px;
    font-size: 13px;
    font-weight: bold;
}

.btnbox .whitebtn {
    color: #808991;
    background: #fff;
    border: 1px solid #d1d5d9;
    box-shadow: 0 1px 1px 0 rgb(209 213 217 / 30%);
}

.btnbox .whitebtn:hover, .btnbox .whitebtn:active {
    background: #f2f4f5;
}

.btnbox .bluebtn {
    color: #fff;
    background: #1f8ce6;
    border: 1px solid #0077d9;
    box-shadow: 0 1px 1px 0 rgb(31 140 230 / 30%);
}

.btnbox .bluebtn:hover, .btnbox .bluebtn:active {
    background: #0077d9;
}

/* check */
.withdrawbox label:hover {
    color: #40474d;
}

.fourthcheck {
    margin-top: 20px !important;
    text-align: center;
}

.fourthcheck .checkText {
    margin-top: 0 !important;
}

.fourthcheck .fig-17fh37n {
    left: 31.4% !important;
}

.fourth_btn {
    left: 196px !important;
}

.withdrawbox .checkText {
    position: relative;
    cursor: pointer;
    margin-top: 9px;
}

.withdrawbox .check {
    color: #636c73;
    font-size: 13px;
    font-weight: 700;
    margin-top: 15px;
}

.withdrawbox .check span {
    display: block;
    margin-right: 10px;
    padding: 0px 0px 0px 26px;
    letter-spacing: -0.39px;
}

.withdrawbox input[type="checkbox"] {
    width: 1px;
    height: 1px;
    left: 1px;
    position: absolute;

    display: none;
}

.withdrawbox .before {
    width: 18px;
    height: 18px;
    border: 1px solid #D1D5D9;
    background: #fff;
    border-radius: 2px;
    position: absolute;
    left: 0;
    top: 0;
}

.withdrawbox .check svg {
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 11;
    left: 4px;
    top: 4px;
}

/* input */
.withdrawbox form {
    display: inline-block;
}

.withdrawbox input {
    color: #303538;
    font-size: 13px;
    font-weight: bold;
    background: #fff;
    border: 1px solid #d1d5d9;
    border-radius: 3px;
    width: 163px;
    padding: 8px;
    outline: none;
    letter-spacing: 0.4em;
    margin-top: 15px;
}

.withdrawbox input::placeholder {
    letter-spacing: 0;
}

.withdrawbox input:hover, .withdrawbox input:active {
    outline: none;
    border-color: #808991 !important;
}