/* 배너 슬라이드 */
.center {
    width: 1300px !important;
    height: 100% !important;
}

.center div a img {
    border-radius: 6px;
    width: 100% !important;
    height: 100% !important;
}

.center div {
    width: 100%;
}

.center img {
    transform:scale(0.96);
    filter: brightness(57%);
    box-shadow: none !important;
}

.center .slick-center img {
    transform:scale(1);
    filter: none;
    box-shadow: none !important;
}

.center .slick-prev {
    top: 43%;
    left: 29%;
    opacity: 0.3;
}

.center .slick-prev:hover, .center .slick-prev:active {
    opacity: 0.6;
}

.center .slick-next {
    top: 43%;
    left: 68%;
    opacity: 0.3;
}

.center .slick-next:hover, .center .slick-next:active {
    opacity: 0.6;
}

#centerbox {
    position: relative;
    padding: 20px 0 3px 0;
    margin: 0 auto;
}

/* 슬라이드 */
.main_slider {
    margin: 0 auto;
    overflow-x: auto;
}

.main_slider::-webkit-scrollbar {
    background-color: transparent;
}

.main_slider, .horizontalbox {
    padding: 24px 0;
}

.main_slider .title {
    padding: 6px 24px;
}

.title, .title span {
    max-width: 1000px;
    margin: 0 auto 16px;
    padding: 6px 0;
    font-size: 19px;
    font-weight: 400;
    color: #000;
}

#slider-div, .center {
    width: 961px;
    margin: 0 auto !important;
    position: relative;
}

#slider-div div {
    overflow-x: hidden;
    z-index: 1;
    width: 984px;
}

#slider-div div::-webkit-scrollbar {
    background-color: transparent;
}

#slider-div div a img {
    height: 210px;
    position: relative;
    z-index: 1;
    box-shadow: -1px 8px 8px -4px rgb(0 0 0 / 19%);
}

.homebook div a img:hover, .homebook div a img:active,
.findbook div a img:hover, .findbook div a img:active,
.newbook div a img:hover, .newbook div a img:active,
.veganuary div a img:hover, .veganuary div a img:active,
.instagram div a img:hover, .instagram div a img:active {
    filter: brightness(87%);
}

.slick-prev, .slick-next {
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    box-shadow: 0 0.8px 3px rgb(0 0 0 / 33%);
    opacity: 0.95;
    border: 1px solid transparent;
    position: absolute;
    top: 34%;
    z-index: 5;
}

.nocenter .slick-prev {
    top: 34%;
    left: 0%;
}

.nocenter .slick-next {
    left: 96%;
}

@media only screen and (min-width: 1000px) {
    .nocenter .slick-next {
        left: 101.8%;
    }
    .nocenter .slick-prev {
        left: -6%;
    }
}

.slick-prev:hover, .slick-next:hover, 
.slick-prev:active, .slick-next:active {
    opacity: 0.6;
}

.bookname {
    color: #000;
    font-size: 13px;
    padding-top: 9px;
    font-weight: bold;
    width: 140px;
    line-height: 17px;
    text-align: left;
}

.fig-1r93q4u, .fig-gnaxy0 {
    fill: #808991;
}

.fig-1r93q4u {
    transform: rotate(180deg);
    position: relative;
    left: -2px;
}

.fig-gnaxy0 {
    left: 1px;
    position: relative;
}

.fig-18h8pjp {
    margin-left: 1px;
    top: 1px;
    position: relative;
}

.fig-18h8pjp path{
    fill: black;
}

.graytext {
    font-size: 14px;
    color: #636C73;
    padding-top: 5px;
}