.classify {
    line-height: 48px;
}

.classify ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.classifyline {
    top: 0;
    height: 11px;
    border: 1px solid #D1D5D9;
    margin: 0 16px;
}

#centerbox {
    padding: 0 0 3px 0;
}

/* 키워드로 검색하기 */
.keyword {
    max-width: 1000px;
    margin: 0 auto;
    padding: 24px 24px 0 24px;
    overflow-x: scroll;
}

.keyword::-webkit-scrollbar {
    background-color: transparent;
}

.keyword ul {
    display: flex;
    overflow-x: scroll;
}

.keyword ul::-webkit-scrollbar {
    background-color: transparent;
}

.keyword ul li {
    border: 1px solid #B8BFC4;
    height: 30px;
    border-radius: 20px;
    font-size: 14px;
    line-height: 29px;
    font-weight: bold;
    color: #525A61;
    padding: 0 10px;
    margin-right: 5px;
}

.keyword ul li a {
    color: #525A61;
    display: block;
}

/* banner */
.romance_banner {
    margin: 0 auto;
    width: 100%;
    padding: 24px 0;
    max-width: 1000px;
}

.romance_banner ul {
    display: flex;
    justify-content: center;
}

.romance_banner ul li a img {
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    width: 234px;
}

.romance_banner ul li:last-child {
    margin: 0;
}

@media only screen and (max-width: 833px) {
    .romance_banner ul {
        flex-wrap: wrap;
    }
    .romance_banner ul li {
        margin-right: 4px;
        margin-bottom: 1px;
    }
}


@media only screen and (min-width: 833px) {
    .romance_banner ul li {
        margin-right: 8px;
    }
}

/* 이 책 어때요? */
.thisbookbox {
    padding: 24px 24px 4px 24px;
}

.thisbook {
    max-width: 1000px;
    margin: 0 auto;
}

.thisbook ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.thisbook ul li {
    margin-bottom: 20px;
}

.thisbook ul li a img {
    height: 210px;
}

@media only screen and (max-width: 500px) {
    .thisbookbox {
        display: none;
    }
}

/* webtoon */
/* 단독! 기다리면 무료 웹툰 */
.single {
    width: 100%;
    max-width: 100%;
    padding: 24px 0;
}

.single .nocenter {
    padding: 0 0 24px 0;
}

.single .title {
    display: flex;
}

.single .title svg {
    margin-right: 6px;
    position: relative;
    top: 2px;
}

.single .title {
    padding: 6px 24px;
}

.singlebox {
    position: relative;
    width: 100% !important;
    margin: 0;
    padding-top: 24px;
}

.single_flex {
    position: relative;
    width: 100% !important;
}

.singlebg {
    background-color: #8C2A41;
    width: 100% !important;
    height: 100px;
}

.single_people {
    width: 200px;
    height: 140px;
    position: absolute;
    left: 51.6%;
    bottom: 0;
    z-index: 2;
}

.single_bg {
    width: 440px;
    height: 100px;
    position: absolute;
    left: 38%;
    top: 0;
    z-index: 1;
}

.singletextbox {
    position: absolute;
    left: 39%;
    top: 32%;
}

.singletext {
    display: flex;
    z-index: 2;
    flex-direction: column;
    align-items: flex-start;
    letter-spacing: -0.03em;
}

.singletext p:first-child {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: white;
}

.singletext p:last-child {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 4px;
}

/* searchresult */
/* writer_search */
.searchresultbox {
    max-width: 952px;
    margin: 0 auto;
    padding-top: 8px;
    letter-spacing: -0.03em;
    margin-bottom: 6px;
}

.searchresultbox h2 {
    color: #303538;
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0;
}

.searchresultbox h2 .plus_search {
    color: #9ea7ad;
    font-weight: 400;
    font-size: 13px;
    margin-left: 2px;
}

.writer_listtbox {
    display: flex;
    flex-direction: column;
}

.writer_listtbox ul li {
    width: 100%;
    align-items: center;
}

.fig-14dn24k {
    width: 22px;
    height: 22px;
    color: rgb(209, 213, 217);
    padding: 4px;
    border-radius: 22px;
    margin-right: 6px;
    background-color: #F2F4F5;
}

.writer_listtbox ul li:hover, .writer_listtbox ul li:active {
    background-color: #F7FAFC;
}

.writer_listtbox ul li a {
    display: flex;
    padding: 12px 0;
    width: 100%;
}

.wirter_list {
    display: flex;
    align-items: center;
}

.wirter_list p {
    font-size: 14px;
}

.wirter_list p:first-child {
    color: #000;
    margin-right: 8px;
}

.wirter_list p:last-child {
    color: #808991;
}

.hide {
    display: none;
}

.writer_search button {
    background-color: #fff;
    color: #636c73;
    border: none;
    line-height: 46px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: -0.03em;
    width: 100%;
    text-align: left;
}

.writer_search button p {
    display: inline-block;
}

.fig-eex5gy {
    width: 11px;
    height: auto;
    color: #9EA7AD;
    margin-left: 2px;
    transform: rotate(0deg);
}

.writer_listtbox ul li:last-child:hover, .writer_listtbox ul li:last-child:active {
    background-color: transparent;
}

.writer_search button:hover, .writer_search button:active {
    background-color: #F7FAFC;
}

/* book_search */
/* book_search_top */
.book_search_top {
    display: flex;
    justify-content: space-between;
}

.book_search_top label {
    color: #636c73;
    font-size: 13px;
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.exceptbox {
    background-color: #b8bfc4;
    border-radius: 13px;
    width: 39px;
    height: 22px;
    margin-left: 7px;
    cursor: pointer;
}

.exceptbox input {
    display: block;
    width: 18px;
    height: 18px;
    border: none;
    border-radius: 11px;
    background: white;
    box-shadow: rgb(0 0 0 / 25%) 0px 2px 3px;
    cursor: pointer;
    appearance: none;
    margin: 2px;
}

/* book_search_bottom */

/* book_search_listbox */
.book_search_list {
    display: flex;
    flex-direction: column;
}

.book_search_text {
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
}

.list_flex {
    display: flex;
    border-bottom: 1px solid #D1D5D9;
}

.list_img { 
    padding: 20px 0px 20px 15px;
}

.list_img:hover, .list_img:active {
    filter: brightness(87%);
}

.list_img img {
    box-shadow: -1px 8px 8px -4px rgb(0 0 0 / 19%);
}


.underline_li:hover, .underline_li:active {
    text-decoration: underline;
}

.book_search_text .bookname {
    padding: 0;
    font-size: 14px;
    width: 100%;
}

.wirter {
    font-size: 14px;
    color: #636c73;
}

.publisher {
    font-size: 13px;
    color: #808991;
}

.star_li {
    position: relative;
    top: 1px;
}

.fig-1t9w9kq { /* 별점 */
    width: 11px;
    height: 11px;
    color: #FA722E;
    overflow-x: hidden;
    margin-right: 2px;
    position: relative;
    top: 1px;
}

.nostar svg {
    color: #D1D5D9;
    margin: 0;
}

.orangetext {
    font-size: 13px;
    color: #fa722e;
    font-weight: bold;
}

.asteriontext {
    font-size: 12px;
    color: #999;
    margin-left: 4px;
}

.textflex ul .line {
    margin: 0 8px;
    height: 10px;
    border-right: 1px solid #d1d5d9;
    top: -2px;
}

.textflex {
    display: flex;
    flex-direction: column;
}

.textflex ul {
    display: flex;
    margin-top: 3px;
    align-items: flex-end;
}

.book_content {
    margin-top: 9px;
    color: #666;
    font-size: 13px;
    line-height: 1.5em;
    overflow: hidden;
    display: block;
}

.buytext {
    color: #666;
    font-size: 13px;
    margin: 4px 0 5px 0;
}

.buytext span {
    color: #1f8ce6;
    font-weight: bold;
}

@media only screen and (max-width: 999px) {
    .book_content {
        display: none;
    }
    .textflex ul {
        align-items: flex-start;
        flex-direction: column;
    }
    .textflex ul .line {
        display: none;
    }
    .book_search_text {
        justify-content: space-evenly;
    }
}

/* paginationbox */
.paginationbox {
    padding: 60px 0;
    width: 100%;
    margin: 0 auto;
}
