.classify {
    line-height: 48px;
}

.classify ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.classifyline {
    top: 0;
    height: 11px;
    border: 1px solid #D1D5D9;
    margin: 0 16px;
}

#centerbox {
    padding: 0 0 3px 0;
}

/* 키워드로 검색하기 */
.keyword {
    max-width: 1000px;
    margin: 0 auto;
    padding: 24px 24px 0 24px;
    overflow-x: scroll;
}

.keyword::-webkit-scrollbar {
    background-color: transparent;
}

.keyword ul {
    display: flex;
    overflow-x: scroll;
}

.keyword ul::-webkit-scrollbar {
    background-color: transparent;
}

.keyword ul li {
    border: 1px solid #B8BFC4;
    height: 30px;
    border-radius: 20px;
    font-size: 14px;
    line-height: 29px;
    font-weight: bold;
    color: #525A61;
    padding: 0 10px;
    margin-right: 5px;
}

.keyword ul li a {
    color: #525A61;
    display: block;
}

/* banner */
.romance_banner {
    margin: 0 auto;
    width: 100%;
    padding: 24px 0;
    max-width: 1000px;
}

.romance_banner ul {
    display: flex;
    justify-content: center;
}

.romance_banner ul li a img {
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    width: 234px;
}

.romance_banner ul li:last-child {
    margin: 0;
}

@media only screen and (max-width: 833px) {
    .romance_banner ul {
        flex-wrap: wrap;
    }
    .romance_banner ul li {
        margin-right: 4px;
        margin-bottom: 1px;
    }
}


@media only screen and (min-width: 833px) {
    .romance_banner ul li {
        margin-right: 8px;
    }
}

/* 이 책 어때요? */
.thisbookbox {
    padding: 24px 24px 4px 24px;
}

.thisbook {
    max-width: 1000px;
    margin: 0 auto;
}

.thisbook ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.thisbook ul li {
    margin-bottom: 20px;
}

.thisbook ul li a img {
    height: 210px;
}

@media only screen and (max-width: 500px) {
    .thisbookbox {
        display: none;
    }
}

/* webtoon */
/* 단독! 기다리면 무료 웹툰 */
.single {
    width: 100%;
    max-width: 100%;
    padding: 24px 0;
}

.single .nocenter {
    padding: 0 0 24px 0;
}

.single .title {
    display: flex;
}

.single .title svg {
    margin-right: 6px;
    position: relative;
    top: 2px;
}

.single .title {
    padding: 6px 24px;
}

.singlebox {
    position: relative;
    width: 100% !important;
    margin: 0;
    padding-top: 24px;
}

.single_flex {
    position: relative;
    width: 100% !important;
}

.singlebg {
    background-color: #8C2A41;
    width: 100% !important;
    height: 100px;
}

.single_people {
    width: 200px;
    height: 140px;
    position: absolute;
    left: 51.6%;
    bottom: 0;
    z-index: 2;
}

.single_bg {
    width: 440px;
    height: 100px;
    position: absolute;
    left: 38%;
    top: 0;
    z-index: 1;
}

.singletextbox {
    position: absolute;
    left: 39%;
    top: 32%;
}

.singletext {
    display: flex;
    z-index: 2;
    flex-direction: column;
    align-items: flex-start;
    letter-spacing: -0.03em;
}

.singletext p:first-child {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: white;
}

.singletext p:last-child {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 4px;
}
