* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EBF6FF;
    font-family: Apple SD Gothic Neo,"나눔고딕", Nanum Gothic, "돋움", Dotum, Helvetica Neue,arial, sans-serif;
}

a {
    color: #808991;
    text-decoration: none;
    cursor: pointer;
    font-family: Apple SD Gothic Neo,"나눔고딕", Nanum Gothic, "돋움", Dotum, Helvetica Neue,arial, sans-serif;
}

/* header */
.logoBox {
    text-align: center;
    border-bottom: 1px solid #D6DEEB;
    font-size: 12px;
}

.logo {
    display: inline-block;
    padding: 15px 0 12px;
}

/* section */
.info {
    max-width: 360px;
    margin: 0 auto;
    padding: 60px 0 70px;
}

.box {
    padding: 30px 10px;
}

.bookimg {
    margin: 20px;
}

.bookimg img {
     width: 100%;
     height: 100%;
}

.btn {
    display: block;
}

button {
    box-shadow: 0 2px 4px 0 rgb(209 213 217 / 30%);
    padding: 16px 34px;
    border-radius: 4px;
    display: block;
    font-size: 16px;
    width: 100%;
    height: 100%;
    line-height: 1em;
    letter-spacing: -0.03em;
    cursor: pointer;
}

.blueBtn {
    background: #1f8ce6;
    border: 1px solid #0077D9;
    margin: 10px 0;
}

.blueBtn:active {
    background: #0077D9;
}

.blueBtn a, .grayBtn a {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.whiteBtn {
    background: #fff;
    border: 2px solid #d1d5d9;
    margin: 10px 0;
}

.whiteBtn:active {
    background: #F2F4F5;
}

.whiteBtn a {
    color: #808991;
    font-size: 16px;
    font-weight: bold;
}

.under {
    margin-top: 24px;
    padding: 6px;
    color: #8C9DAD;
    text-align: center;
    font-size: 13px;
    display: block;
    font-weight: bold;
    letter-spacing: -0.03em;
}

.under span {
    display: inline-block;
    color: #8C9DAD;
}

.under i {
    margin-left: 4px;
    font-size: 12px;
}

.under a:hover, .under span:hover {
    color: #70808f;
}

/* under14 */
.underbox {
    padding: 24px 10px;
}

.title {
    color: #0077D9;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 18px;
    letter-spacing: -0.54px;
}

.peopleimg {
    text-align: center;
    margin: 16px;
}

.peopleimg img{
    width: 110px;
    height: 129px;
}

.checkText {
    position: relative;
    cursor: pointer;
}

.check {
    color: #303538;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 20px;
}

.check span {
    display: block;
    margin-right: 10px;
    padding: 0px 0px 0px 26px;
    letter-spacing: -0.39px;
}

input[type="checkbox"] {
    width: 1px;
    height: 1px;
    left: 1px;
    position: absolute;

    display: none;
}

.before {
    width: 18px;
    height: 18px;
    border: 1px solid #D1D5D9;
    background: #fff;
    border-radius: 2px;
    position: absolute;
    left: 0;
    top: 0;
}

.check svg {
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 11;
    left: 4px;
    top: 4px;
}

.grayBtn {
    background: #7D8E9E;
    border: 1px solid #636C73;
}

.grayText {
    margin-top: 19px;
    color: #7D8E9E;
    text-align: center;
    font-size: 13px;
    line-height: 1.4em;
    letter-spacing: -0.03em;
}

.fig-17fh37n {
    cursor: pointer;
}

.blueBtn {
    cursor: pointer;
}

/* signupinfo */
input[type="text"], input[type="password"], input[type="email"], input[type="button"] {
    padding: 15px 10px 13px;
    width: 100%;
    height: 48px;
    background: white;
    color: #303538;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #D6DEEB;
    font-family: Apple SD Gothic Neo,"나눔고딕", Nanum Gothic, "돋움", Dotum, Helvetica Neue,arial, sans-serif;
    border-radius: 4px;
    margin-bottom: 10px;
    vertical-align: middle;
    letter-spacing: -0.03em;
}

input::placeholder {
    font-weight: normal;
    top: 10px;
}

input[name="password"] {
    border-radius: 4px 4px 0 0;
    margin: 0;
}

input[name="passwordre"] {
    border-radius: 0 0 4px 4px;
}

input:hover {
    border-color: #9ea7ad;
    box-shadow: inset 0 1px 2px 0 rgb(115 128 150 / 20%);
}

input:focus {
    outline: none;
    border: 1px solid #1F8CE6;
    box-shadow: inset 0 1px 2px 0 rgb(115 128 150 / 20%);
}

input:focus::placeholder {
    color: transparent;
}

input[type="password"]::placeholder {
    letter-spacing: -0.03em;
}

input[type="password"] {
    letter-spacing: -8.6px;
}

/* 입력해주세요 문구 */
.redtext, #redtext_bir {
    color: #e64938;
    font-size: 12px;
    letter-spacing: -0.5px;
    line-height: 15px;
    margin-bottom: 10px;
    margin-left: 4px;

    display: none;
}

.redtext span, #redtext_agree span, #redtext_bir span {
    position: relative;
    top: -2px;
}

#redtext_bir {
    position: relative;
    top: -3px;
}

#redtext_agree {
    margin-top: 6px;
}

.selectBox {
    position: relative;
}

.fig-8kto1h {
    width: 12px;
    height: 12px;
    fill: #e64938;
}
/* ================ */

.selectBox {
    display: flex;
}

label {
    margin-bottom: -1px;
}

label {
    display: flex;
}

form label {
    position: relative;
}

.inputBlueText {
    text-align: left;
    position: absolute;
    color:#1F8CE6;
    top: -1px;
    left: 11px;
    font-size: 15px;
    z-index: 999;

    visibility: hidden;
}

.inputgrayText {
    text-align: left;
    position: absolute;
    color:#738096;
    top: -1px;
    left: 11px;
    font-size: 15px;
    z-index: 999;

    visibility: hidden;
}

#blue_pw, #gray_pw {
    top: 3px;
}

/* gender */
.genderBox {
    width: 50%;
    display: flex;
}

.genderBox_w {
    position: relative;
    width: 50%;
    cursor: pointer;
}

.genderBox_m {
    position: relative;
    width: 53.69%;
    cursor: pointer;
}

label.genderBox_m {
    margin-left: 6px;
}

.man, .woman {
    position: absolute;
    left: 42%;
    top: 28%;
    font-size: 15px;
    color: #738096;
}

.woman {
    left: 40%;
}

label.genderBox_m,  label.genderBox_w {
    padding: 15px 10px 13px;
    width: 100%;
    height: 48px;
    background: white;
    color: #303538;
    font-size: 15px;
    border: 1px solid #D6DEEB;
    font-family: Apple SD Gothic Neo,"나눔고딕", Nanum Gothic, "돋움", Dotum, Helvetica Neue,arial, sans-serif;
    border-radius: 4px;
    margin-bottom: 10px;
    vertical-align: middle;
    letter-spacing: -0.03em;
}

label.genderBox_m:hover,  label.genderBox_w:hover {
    border-color: #9EA7AD !important;
    box-shadow: rgb(115 128 150 / 20%) 0px 1px 2px 0px inset !important;
}

label.genderBox_m {
    border-radius: 4px 0 0 4px;
    cursor: pointer;
}

label.genderBox_w {
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

input:required, input:invalid {
    border-color: #FABAB3;
}

.select {
    display: block;
    padding: 6px 1px;
    font-size: 12px;
    color: #94A2B8;
}

input.birthYear {
    padding: 21px 10px 7px;
    width: 100%;
}

form label svg {
    display: inline-block;
}

.fig-2atj3x {
    color: #5ABF0D;
    position: absolute;
    z-index: 4;
    top: 20px;
    left: 315px;

    display: none;
}

#pwsvg {
    top: 19px;
}

#birsvg {
    left: 154px;
}

/* 약관 동의 */
.agree {
    width: 100%;
    background: white;
    border: 1px solid #D6DEEB;
    border-radius: 4px;
}

.agreeBox {
    list-style: none;
}

.agreeBox li {
    display: block;
    padding: 8px 27px;
    position: relative;
    cursor: pointer;
}

.agreeTitle {
    border-bottom: 1px solid #D6DEEB;
    padding: 13px 15px !important;
}

.agreeTitle span {
    font-weight: bold;
    position: relative;
    padding-left: 4px;
    top: -2px !important;
}

.agreeLow {
    padding: 5px 0;
}

.agreeBox li span {
    color: #738096;
    font-size: 14px;
    position: relative;
    padding-left: 4px;
    top: -4px;
}

.agreeTitle svg {
    position: relative;
    top: 2px;
}

.agreeBox li span:hover {
    color: #303538;
}

.agreeBox li:last-child {
    padding: 8px 15px;
}

.agreeBox li a {
    color: #9EA7AD;
    font-size: 12px;
    text-align: right;
    position: absolute;
    top: 11px;
    right: 13px;
}

.agreeBox li a:hover {
    color: #738096;
}

.agreeBox input {
    width: 1px;
    height: 1px;

} 

.fig-16m6ba1, .fig-16m6ba2, .fig-16m6ba3 {
    width: 18px;
    height: 18px;
    fill: #D6DEEB;
}

.fig-133dw2 {
    width: 8px;
    height: 8px;
    fill: #9EA7AD;
}

.fig-133dw2:hover {
    fill: #738096;;
}

#signBtn {
    margin-top: 15px;
}

/* mailCorrenct */
.correctbox {
    padding: 3px 24px 40px;
}

.mailTitle {
    color: #1f8ce6;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 18px;
    letter-spacing: -0.54px;
}

.mailBox input[type="email"] {
    border-color: #1f8ce6;
    background: white;
    color: #303538;
    font-size: 15px;
    width: 100%;
    padding: 15px 16px;
    margin-top: 25px;
    margin-bottom: 10px;
}

#mailBtn {
    margin-top: 20px;
}

#redtext_corr {
    margin-left: 4px;
}

.popBox .pinktext {
    color: #f5948a;
}

.pop_pink {
    fill: #f5948a;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 17px;
}

/* sendMail */
.sendbox {
    text-align: center;
    padding: 3px 24px 40px;
}

.sendTitle {
    color: #081928;
    font-size: 20px;
    font-weight: bold;
    line-height: 1em;
    letter-spacing: -0.03em;
    margin-bottom: 10px;
}

.blueText {
    color: #1f8ce6;
    font-weight: bold;
    font-size: 20px;
}

#linkGray {
    padding-bottom: 26px;
    color: #808991;
    font-size: 14px;
    letter-spacing: -0.7px;
}

#linkGray span {
    font-weight: bold;
}

.linkText a {
    font-size: 14px;
    font-weight: bold;
}

.linkText a:last-child {
    padding-left: 7px;
}

.fig-12qtrj3 {
    width: 5px;
    height: 10px;
    position: relative;
    top: 1px;
}

/* 팝업창 */
.popBox {
    left: 50%;
    top: 45px;
    width: 420px;
    margin-left: -210px;
    display: block;
    position: fixed;
    z-index: 99;
    padding: 15px 50px 15px 15px;
    background: rgba(0,0,0,.9);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 30%);
    border-radius: 4px;

    opacity: 0;
}

.popBox p {
    color: #5ABF0D;
    font-size: 13px;
    line-height: 1.45em;
    letter-spacing: -.03em;
    padding-left: 21px;
    position: relative;
    cursor: default;
    font-weight: bold;
}

.pop {
    fill: #5ABF0D;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 17px;
}

.popBox img {
    width: 16px;
    height: 16px;
    position: absolute; 
    cursor: pointer;  
    top: 34%;
    right: 10px; 
}

/* joinCongrats */
.joinbox {
    text-align: center;
    padding: 0px 20px;
    margin-top: -30px;
}

.message p {
    color: #303538;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.48em;
}

.message span {
    color: #1f8ce6;;
}

.congratsimg {
    margin-bottom: 15px;
}

.congratsimg img {
    max-width: 100%;
    max-height: 100%;
}

#congBtn {
    margin-top: 40px;
}